@font-face {
    font-family: "titillium-web";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf) format('truetype');
}
html {
    font-family: "titillium-web", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container {
    width: 60%;
    margin: auto
}
header  {
    background-color: chartreuse;
}

li>a {
    text-decoration: none;
}
li>a:hover {
    background-color: green;
}
li>a:hover::before{
    content: '<< ';
}
li>a:hover::after {
    content: ' >>'
}
main {
    background-color: darkgrey;
}

footer {
    background-color: gray;
}
