@font-face {
    font-family: "titillium-web";
    src: url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
    font-display: swap;
}

html {
    font-family: "titillium-web"
}

body {
    background-image: url(../images/bg.avif);
}

.sr-only {
    display: none;
}

.container {
    max-width: 80rem;
    width: 100%;
    margin: auto;
    background-color: #d6cc99;
    padding-bottom: 1rem;
    border: 2px;
    border-style: solid solid solid solid;
}

header {
    background-color: #445D48;
    display: flex;
    text-wrap: wrap;
}

img main {
    width: 100%;
    height: auto;
}

header img {
    box-sizing: border-box;
    justify-self: flex-start;
}

header h1 {
    box-sizing: border-box;
    padding-left: 1rem;
    font-size: 0.1px;
    display: none;
    margin: 0;
    white-space: nowrap;
}

header nav {
    width: 100%;
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

}

li {
    width: calc(100% / 3);
}

li.active a {
    background-color: #d6cc99;
    color: #001524;
    width: 100%;
    height: 3rem;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    white-space: nowrap;
    box-sizing: border-box;
}

li a {
    background-color: #445D48;
    color: #fde5d4;
    width: 100%;
    height: 3rem;
    display: inline-block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    border: 2px;

}

li a:hover {
    background-color: #001524;
    color: #fde5d4;
}

main {
    width: auto;
    background-color: #fde5d4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

main h2 {
    width: 100%;
    color: #001524;
    text-align: center;
    margin: auto;
    font-size: 400%;
    padding-top: 9rem;
    color: #001524;
}

.projects>h2 {
    width: 100%;
    max-width: 40rem;
    text-align: start;
    padding-top: 1rem;
    color: #001524;
    align-self: flex-start;
}

.projects>img {
    box-sizing: border-box;
    margin: 0 1rem 0 1rem;
    width: 100%;
    height: auto;
}

.projects>p {
    color: #001524;
    padding: 0;
    max-width: 40rem;
    text-align: center;
}

main>img {
    width: 100%;
    height: auto;
    max-width: 40rem;
    margin: 2rem 1rem 1rem 1rem;
    border-style: solid;
    border-width: 2px;
}


main>article {
    max-width: 40rem;
    color: #001524;
    margin: auto;
    padding: 1rem;
}

section {
    max-width: 40rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section>article {
    width: 100%;
    background-color: #d6cc99;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

article>h3 {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    min-height: 3rem;
    border-width: 1px;
    color: #001524;

}

article figure {
    display: block;
    width: 100%;
    text-align: center;
    color: #001524;
}

article img {
    max-height: 150px;
    width: auto;

}

article p {
    color: #001524;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}

article p strong {
    color: #d6cc99;
    background-color: #001524;
}

article.clickable {
    cursor: pointer;
}

article.clickable:hover {
    background-color: #001524;
}

article.clickable:hover>p {
    color: #d6cc99;
}

article.clickable:hover>h3 {
    background-color: #001524;
    color: #d6cc99;
}

article.clickable:hover figcaption {
    color: #d6cc99;
}

.contact {
    display: flex;
    padding: 9rem 1rem 9rem 1rem;
    justify-content: space;
    flex-wrap: wrap;
    color: #001524;
}

.contact h3 {
    width: 100%;
}
.contact address {
    width: 100%;
}
.contact iframe {
    width: 100%;
}

@media screen and (min-width: 769px) {
    .container {
        width: 60%;
    }

    section>article {
        max-width: 32%;
    }

    header nav {
        width: 40%;
    }

    main {
        margin: 2rem 1rem 1rem 1rem;
        border-style: solid;
        border-width: 1px;
    }
    .contact address {
        width: 50%;
    }
    .contact iframe {
        width: 50%;
    }
}